<h1>Welcome!</h1>
<p>Marin ask me "Can you write a small Ruby based script/app that will get HTTP response times over 5 minutes from your location to https://gitlab.com?"</p>
<p>This is this small Ruby based script/app!</p>
<p>I choose a rails app in order that Marin can get result from my location Rennes, FRANCE</p>
<p><%= link_to 'Generate requests to https://gitlab.com and see reponse time', result_path_url %></p>
<p><a href="mailto:victor@hakoun.fr">Victor Hakoun</a></p>
