<h1>Listing HTTP GET response times over 5 minutes from <%= @from %> to <%= @url %></h1>
<p><%= @totalRequests %> requests response in average <%= @averageResponseTime %> s</p>
 
<table>
  <tr>
    <th>Request number</th>
    <th>Response time</th>
  </tr>
 
  <% @requests.each_with_index do |request, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= request %></td>
    </tr>
  <% end %>
</table>
